.center{text-align: center; display: block;margin: 0 auto; }
body{color:turquoise;}

body{font-family: "noto sans"}
li{display: inline; padding: 10px;}

.nav-item {
  padding: 10px; font-size:20px; display: inline;
}

.nav-link{
  text-decoration: none; color: black
}
.nav-link:hover{
  color: navy;
  font-size: 32px;
}

.nav{
  margin: 0px
  padding: 0px
}
.nav-container{

}
